body {
	background-color: black;
	padding-top: 0 !important;
}

.background img {
	width: 100%;
	height: 550px;
	object-fit: cover;
	opacity: 40%;
}

.body {
	top: 200px;
	position: absolute;
	display: block;
}
.content {
	display: flex;
	padding-inline: 20px;
}

.left {
	width: 30%;
	margin-right: 50px;
}

.left img {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 20px;
}
.myRow {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.dropdown-addToList {
	width: 68%;
}
#dropdownMenuButton-addToList {
	height: 50px;
	width: 100%;
	background-color: rgb(255, 186, 201);
	font-weight: 600;
	font-size: 30px;
	padding: 0;
}

.fav {
	height: 50px;
	background-color: rgb(255, 63, 63);
	border: 0;
	padding-block: 10px;
	padding-inline: 20px;
	border-radius: 5px;
}
.fav img {
	height: 100%;
}

.moreInfo {
	background-color: rgb(17, 17, 17);
	padding: 20px;
	border-radius: 10px;
}
.info-item {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}
.info-item h6 {
	color: white;
	font-size: 20px;
	margin: 0;
}
.info-item p {
	font-size: 18px;
	color: rgb(191, 191, 191);
}

/*-------------------------right-------------------------------*/

.right {
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
	width: 100%;
}

.title {
	display: flex;
	margin-bottom: 10px;
}

.animeName {
	color: white;
	margin-right: 30px;
	font-size: 40px;
	font-weight: 900;
}

.rating {
	display: flex;
	margin: 0;
	margin-top: 10px;
	margin-right: 10px;
}
.rating h6 {
	font-size: 30px;
	font-weight: 600;
	margin: 0;
	margin-right: 5px;
}
.rating img {
	width: 35px;
	height: 35px;
}

.star {
	color: rgb(255, 186, 201);
}
.recommend {
	color: rgb(39, 216, 0);
}

.synopsis p {
	color: rgb(191, 191, 191);
	font-size: 18px;
	min-height: 150px;
}

.tabs {
	margin-top: 80px;
	display: flex;
	justify-content: space-evenly;
	padding: 0;
}
.tabs li {
	background-color: transparent;
	width: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tabs a {
	font-size: 25px;
	font-weight: 900;
	color: rgb(112, 112, 112);
	text-decoration: none;
}

.tabs a:hover {
	font-size: 25px;
	font-weight: 900;
	color: rgb(191, 191, 191);
	text-decoration: none;
}
.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

.header {
	color: white;
	font-size: 35px;
	font-weight: 900;
	margin-bottom: 30px;
}
.grid {
	display: flex !important;
	flex-wrap: wrap;
	padding: 0;
	justify-content: space-between;
	margin-bottom: 50px;
}

.row-card {
	border-radius: 5px;
	background-color: rgb(17, 17, 17);
	display: flex;
	width: 49%;
	margin: 0;
	margin-bottom: 20px;
	justify-content: space-between;
}
.card-left {
	display: flex;
}

.card-left-img-con {
	height: 130px;
	width: 90px;
}

.card-left-img-con img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.card-left-info {
	padding: 10px;
	text-align: left;
}

.card-left-info h5 {
	color: white;
	font-size: 20px;
	font-weight: 600;
}
.card-left-info p {
	color: rgb(191, 191, 191);
}

.staff {
	display: flex;
}

.staff-img-con {
	height: 130px;
	width: 90px;
}

.staff-img-con img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.staff-info {
	padding: 10px;
	text-align: right;
}

.staff-info h5 {
	color: white;
	font-size: 20px;
	font-weight: 600;
}
.staff-info p {
	color: rgb(191, 191, 191);
}

iframe {
	width: 800px;
	height: 450px;
	margin-bottom: 50px;
}

.header-row {
	display: flex;
	align-items: baseline;
}
.header {
	margin-right: 20px;
}
.rating-star {
	display: flex;
	margin-right: 10px;
}
.recommend {
	display: flex;
}

.rating-star h6 {
	color: rgb(255, 186, 201);
	font-size: 25px;
	font-weight: 600;
	margin-right: 5px;
}
.recommend h6 {
	color: rgb(39, 216, 0);
	font-size: 25px;
	font-weight: 600;
	margin-right: 5px;
}
.rating-star img {
	height: 25px;
}
.recommend img {
	height: 25px;
}

/* --------------------------------------- */
.review {
	display: flex;
	padding: 30px;
	border-radius: 10px;
	background-color: rgb(17, 17, 17);
	margin-bottom: 30px;
}
.review-con {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.pfp-con {
	width: 100px;
	height: 100px;
	margin-right: 20px;
}
.pfp-con img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.top {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: fit-content;
	align-items: center;
}
.username {
	color: white;
	font-size: 30px;
	margin-right: 30px;
	font-weight: 700px;
}
.recommend-con {
	display: flex;
	margin-right: 10px;
}
.recommend-con h4 {
	font-size: 20px;
	color: rgb(39, 216, 0);
	margin-right: 5px;
	font-weight: 500;
}

.recommend-con img {
	height: 20px;
}

.spoiler {
	color: brown;
	font-size: 20px;
	font-weight: 500;
}
.date {
	margin-top: 8px;
	color: rgb(191, 191, 191);
}
.review-star {
	display: flex;
	margin-bottom: 10px;
	align-items: center;
}
.star-con {
	width: 35px;
	height: 35px;
	margin-right: 5px;
}
.star-con img {
	width: 100%;
	height: 100%;
}
.review-star p {
	font-size: 25px;
	font-weight: 600;
}

.review-text {
	color: rgb(191, 191, 191);
	max-height: 10.5em;
	overflow: hidden;
	line-height: 1.5em;
	margin-bottom: 10px;
	position: relative;
}

.review-text.expand {
	max-height: none;
	overflow: visible;
	cursor: pointer;
}

/* ---------review form------- */
form {
	width: 100%;
}
input {
	margin-right: 5px;
}
label {
	display: flex;
	margin-right: 10px;
}
label img {
	width: 30px;
}

#content {
	background-color: rgb(17, 17, 17);
	border: 1px solid rgb(112, 112, 112);
	border-radius: 5px;
	padding: 10px;
	padding-block: 20px;
	height: 30px;
	color: white;
	width: 100%;
}
#contentall {
	background-color: rgb(17, 17, 17);
	border: 1px solid rgb(112, 112, 112);
	border-radius: 5px;
	padding: 10px;
	padding-block: 20px;
	height: 30px;
	color: white;
	width: 100%;
}

.button-con {
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: end;
}

#cancel {
	margin-right: 10px;
	color: rgb(121, 121, 121);
	border-radius: 5px;
	font-weight: 600;
	padding: 5px;
	padding-inline: 20px;
	border: 1px solid rgb(121, 121, 121);
	background-color: rgb(17, 17, 17);
}
#post {
	color: black;
	border-radius: 5px;
	font-weight: 600;
	padding-inline: 20px;
	border: 1px solid transparent;
	background-color: rgb(255, 186, 201);
}
.top-right {
	display: flex;
	justify-content: center;
}
.dropdown {
	width: fit-content;
}

#dropdownMenuButton {
	background-color: transparent;
	border: transparent;
}

.image-icon {
	height: 20px;
	margin-right: 5px;
}

.no-caret::after {
	display: none;
}
